#aniwatch-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#video_js_id{
    width: 90vw;
    height: 80vh;
}
#episodenum-div{
    display: flex;
    gap: 10px;
}
#episodenum{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background-color: rgb(88, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
