.card{
    max-width: 1352px;
    display: flex;
    gap: 25px;
}
.animedetails{
    max-width: 927px;

}
#largeimage{
    min-width: 350px;
    min-height: 450px;
    max-height: 550px;
}
.anime_characters img{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin: 5px;
}
.character{
    margin: 0 12px;
    display: flex;
    gap: 10px;
    overflow:hidden;
}
.character div{
    text-align: center;
    width: 80px;
}

@media only screen and (max-width:1050px) {
    #largeimage{
        min-width: 30vw;
        max-height: 65vh;
    }
    .animedetails{
        max-width: 60vw;
        font-size: small;
    }
    .anime_characters img{
        width: 60px;
        height: 60px;
    }
    .character{
        gap:6px;
        margin:0 5px;
    }
}
@media only screen and (max-width:550px) {
    .card{
        flex-direction: column;
        align-items: center;
    }
    #largeimage{
        min-width:50vw ;
        max-width: 70vw;
        min-height: 40vh;
        max-height: 55vh;
    }
    .animedetails{
        max-width: 85vw;
    }
    .anime_characters img,.anime_characters p{
        margin:3px;
        max-width: 60px;
        max-height: 60px;
    }
    .character{
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;
    }
    .character div{
        max-width: 70px;
    }
}
@media only screen and (max-width:400px) {
    .character div{
        max-width: 85px;
    }
    .anime_characters img{
        margin:3px;
        min-width: 70px;
        min-height: 70px;
    }
    .anime_characters p{
        margin:3px;
        max-width: 70px;
        max-height: 70px;
    }
}
@media only screen and (max-width:330px) {
    .character{
        gap: 10px;
    }
    .character div{
        max-width: 60px;
    }
    .anime_characters img{
        margin:3px;
        min-width: 62px;
        min-height: 62px;
    }
    .anime_characters p{
        margin:3px;
        max-width: 60px;
        max-height: 60px;
    }
}