.pagination{
    display: flex;
    margin: 20px 15px;
    justify-content: space-between;
}
button{
    padding: 20px;
    border-radius: 40%;
    cursor: pointer;
    color: white;
    font-weight: 700;
    border: none;
    background-color: rgba(190, 49, 49, 0.795);
}
.pagenumbering{
    display: flex;
    gap: 25px;
    align-items: center;
    text-align: center;

}

#next_page_num,#prev_page_num{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background-color: rgb(88, 75, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}
#pret_page_num{
    width: 65px;
    height: 65px;
    border:2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:630px) {
    .pagenumbering{
        gap:10px;
        max-width: 50%;
    }
    #pret_page_num,#prev_page_num,#next_page_num{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width:400px) {
    .noprev{
        min-width:60px; 
    }
    .pagenumbering{
        gap:10px;
        max-width: 50%;
    }
    #pret_page_num,#prev_page_num,#next_page_num{
        width: 35px;
        height: 35px;
    }
    button{
        padding: 15px;
    }
}
@media only screen and (max-width:320px) {
    #pret_page_num,#prev_page_num,#next_page_num{
        width: 25px;
        height: 25px;
    }
}