*,*::after,*::before{
  box-sizing: border-box;
}

body{
  margin: 0 50px;
}
.navbar{
  position:sticky;
  background-color: #242424;
  z-index: 1;
  top:0px;
  margin: 20px 0px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: solid 1px rgba(128, 128, 128, 0.449);
}
h1{
  color: white;
  margin : "0"
}

@media only screen and (max-width:550px){
  body{
    margin: 0 20px;
  }
  .navbar{
    margin: 15px 0 35px 0;
  }
}
@media only screen and (max-width:400px){
  body{
    margin: 0 10px;
  }
}