*,*::after,*::before{
  box-sizing: border-box;
}
#root {
  margin: 0 50px;
}
.navbar{
  position:sticky;
  background-color: #242424;
  top:0px;
  margin: 20px 0px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: solid 1px rgba(128, 128, 128, 0.449);
}
h1{
  color: white;
  margin : "0"
}